.books{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
.card{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.bookForm{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}